div {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.top-container {
    background-color: red;
    position: relative;
    left: 400px;
}

.mid-container {
    background-color: blue;
    position: absolute;
    left:0px;
}

.low-container {
    background-color: yellow;
    position: relative;
    left: -8px;
}