<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoT - Ultimate Guide</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="card-group">
        <div class="card">
          <img src="https://thronesapi.com/assets/images/daenerys.jpg
          " class="card-img-top" alt="character_mug">
          <div class="card-body">
            <h5 class="card-title">Character #id</h5>
            <p class="card-text">This is character</p>
            <p class="card-text"><small class="text-body-secondary">First name and last name here</small></p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
              <h5 class="card-title">General info</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Date of birth: dd/mm/YY</li>
              <li class="list-group-item">Date of death: dd/mm/YY</li>
              <li class="list-group-item">Titles: Title list</li>
              <li class="list-group-item">Allegiances: Allegiance list</li>
              <li class="list-group-item">Books where they appear</li>
              <li class="list-group-item">PoVBooks where they appear</li>
              <li class="list-group-item">Season appearences</li>
              <li class="list-group-item">Actor that played them</li>
            </ul>
          </div>
        <div class="card">
            <img src="img/starkcrest.jpg" class="card-img-top" alt="family">
            <div class="card-body">
              <h5 class="card-title">Family name</h5>
              <p class="card-text">Maybe family history here or smth</p>
            </div>
          </div>
      </div>
</body>
</html>