body {
    max-width: 1440px;
}

.heading1 {
    padding-bottom: 70px;
}

.heading1_image {
    float: left;
    padding-top: 10px;
}

.heading1_text {
    float: right;
    padding-right: 50px;
    padding-top: 25px;
    font-weight: 400;
}

.bodypart_1_image {
    
}

.bodypart_1_text {

}

.h1 {
    font-weight: 700;
}