.txt{
    font-family: "Alex Brush", sans-serif;
    font-size: "38px";
    font-weight: 400;
}
body {
    background-image:url(../images/background-paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}
.card-group{
    height:60%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}