div {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: black solid 10px;
}

.top-container {
    background-color: red;
    position: absolute;
    height: 250px;
    width: 225px;
    left: 320px;
    top: 40px;
}

.mid-container {
    background-color: blue;
    position: absolute;
    top: 300px;
    left: 50px;
    height: 100px;
}

.low-container {
    background-color: yellow;
    position: absolute;
    width: 150px;
    height: 50px;
    top: -10px;
    left: 555px;
    border-top: 0px;
    border-right: 0px;
}

.blank-container {
    background-color: white;
    position: absolute;
    left: 0px;
}